### **List Tasks**

In [52]:
#q1
a1 = [1,2,3,4,5,2.,5,6,7,8,5,3,2,3,4,6,7,8,9,8,7,6,5,4,3]
value_to_count = 5
count = a1.count(value_to_count)
print(count)

4

In [53]:
# q2
sum_of_elements = sum(a1)
print(sum_of_elements)

123.0

In [54]:
# q3
max_element = max(a1)
print(max_element)

9

In [55]:
# q4
min_element = min(a1)
print(min_element)

1

In [56]:
# q5
element_to_check = 7
exists = element_to_check in a1
print(exists)

True

In [57]:
#q6
if len(a1) != 0:
    print(a1[0])
else:
    print("List empty")

1

In [58]:
#q7
if len(a1) != 0:
    print(a1[-1])
else:
    print("List empty")

3

In [59]:
#q8
a2 = a1[:3]
print(a2)

[1, 2, 3]

In [60]:
#q9
a3 = a1[::-1]
print(a3)

[3, 4, 5, 6, 7, 8, 9, 8, 7, 6, 4, 3, 2, 3, 5, 8, 7, 6, 5, 2.0, 5, 4, 3, 2, 1]

In [61]:
#q10
a4 = sorted(a1)
print(a4)

[1, 2, 2.0, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9]

In [62]:
#q11
a5 = list(set(a1))
print(a5)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
#q12
index_insert, number_insert = 3, 11
a1.insert(index_insert, number_insert)
print(a1)

[1, 2, 3, 11, 4, 5, 2.0, 5, 6, 7, 8, 5, 3, 2, 3, 4, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3]

In [64]:
#q13
element_index = a1.index(5) if 5 in a1 else -1
print(element_index)

5

In [65]:
# q14
is_empty = len(a1) == 0
print(is_empty)

False

In [66]:
# q15
even_count = sum(1 for x in a1 if x % 2 == 0)
print(even_count)

12

In [67]:
# q16
odd_count = sum(1 for x in a1 if x % 2 != 0)
print(odd_count)

14

In [68]:
# q17
concatenated_list = a1 + a2
print(concatenated_list)

[1, 2, 3, 11, 4, 5, 2.0, 5, 6, 7, 8, 5, 3, 2, 3, 4, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3, 1, 2, 3]

In [69]:
# q18
sublist = [3, 4, 5]
sublist_exists = any(a1[i:i+len(sublist)] == sublist for i in range(len(a1)-len(sublist)+1))
print(sublist_exists)

False

In [70]:
# q20
second_largest = sorted(set(a1))[-2] if len(set(a1)) > 1 else None
print(second_largest)

9

In [71]:
# q21
second_smallest = sorted(set(a1))[1] if len(set(a1)) > 1 else None
print(second_smallest)

2

In [72]:
# q22
even_numbers = [x for x in a1 if x % 2 == 0]
print(even_numbers)

[2, 4, 2.0, 6, 8, 2, 4, 6, 8, 8, 6, 4]

In [73]:
# q23
odd_numbers = [x for x in a1 if x % 2 != 0]
print(odd_numbers)

[1, 3, 11, 5, 5, 7, 5, 3, 3, 7, 9, 7, 5, 3]

In [74]:
# q24
list_length = len(a1)
print(list_length)

26

In [75]:
# q25
copy_list = a1[:]
print(copy_list)

[1, 2, 3, 11, 4, 5, 2.0, 5, 6, 7, 8, 5, 3, 2, 3, 4, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3]

In [76]:
# q26
mid_index = len(a1) // 2
middle_element = a1[mid_index] if len(a1) % 2 != 0 else (a1[mid_index - 1], a1[mid_index])
print(middle_element)

(3, 2)

In [77]:
# q27
sublist_max = max(a1[2:5])
print(sublist_max)

11

In [78]:
# q28
sublist_min = min(a1[2:5])
print(sublist_min)

3

In [79]:
# q29
index_remove = 4
if 0 <= index_remove < len(a1):
    del a1[index_remove]
print(a1)

[1, 2, 3, 11, 5, 2.0, 5, 6, 7, 8, 5, 3, 2, 3, 4, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3]

In [80]:
# q30
is_sorted = a1 == sorted(a1)
print(is_sorted)

False

In [81]:
# q31
repeat_times = 3
repeated_list = [x for x in a1 for _ in range(repeat_times)]
print(repeated_list)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 11, 11, 11, 5, 5, 5, 2.0, 2.0, 2.0, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 5, 5, 5, 3, 3, 3, 2, 2, 2, 3, 3, 3, 4, 4, 4, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 8, 8, 8, 7, 7, 7, 6, 6, 6, 5, 5, 5, 4, 4, 4, 3, 3, 3]

In [82]:
# q32
merged_sorted_list = sorted(a1 + a2)
print(merged_sorted_list)

[1, 1, 2, 2.0, 2, 2, 3, 3, 3, 3, 3, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 11]

In [83]:
# q33
value_to_find = 5
indices = [i for i, x in enumerate(a1) if x == value_to_find]
print(indices)

[4, 6, 10, 22]

In [84]:
# q34
rotation_amount = 2
rotated_list = a1[-rotation_amount:] + a1[:-rotation_amount]
print(rotated_list)

[4, 3, 1, 2, 3, 11, 5, 2.0, 5, 6, 7, 8, 5, 3, 2, 3, 4, 6, 7, 8, 9, 8, 7, 6, 5]

In [85]:
# q35
range_list = list(range(1, 11))
print(range_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
# q36
sum_positive = sum(x for x in a1 if x > 0)
print(sum_positive)

130.0

In [87]:
# q37
sum_negative = sum(x for x in a1 if x < 0)
print(sum_negative)

0

In [88]:
# q38
is_palindrome = a1 == a1[::-1]
print(is_palindrome)

False

In [89]:
# q39
sublist_size = 3
nested_list = [a1[i:i+sublist_size] for i in range(0, len(a1), sublist_size)]
print(nested_list)

[[1, 2, 3], [11, 5, 2.0], [5, 6, 7], [8, 5, 3], [2, 3, 4], [6, 7, 8], [9, 8, 7], [6, 5, 4], [3]]

In [90]:
# q40
seen = set()
unique_ordered_elements = [x for x in a1 if not (x in seen or seen.add(x))]
print(unique_ordered_elements)

[1, 2, 3, 11, 5, 6, 7, 8, 4, 9]

### **Tuple Task**

In [93]:
# q1
t1 = (1,2,3,4,5,6,6,7,11,7,5)
value_to_count = 5
count = t1.count(value_to_count)
print(count)

2

In [94]:
# q2
max_element = max(t1)
print(max_element)

11

In [95]:
# q3
min_element = min(t1)
print(min_element)

1

In [96]:
# q4
element_to_check = 7
exists = element_to_check in t1
print(exists)

True

In [97]:
# q5
first_element = t1[0] if t1 else None
print(first_element)

1

In [98]:
# q6
last_element = t1[-1] if t1 else None
print(last_element)

5

In [99]:
# q7
tuple_length = len(t1)
print(tuple_length)

11

In [100]:
# q8
sliced_tuple = t1[:3]
print(sliced_tuple)

(1, 2, 3)

In [109]:
# q9
t2 = tuple(i*2 for i in t1)
concatenated_tuple = t1 + t2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 6, 7, 11, 7, 5, 2, 4, 6, 8, 10, 12, 12, 14, 22, 14, 10)

In [110]:
# q10
is_empty = len(t1) == 0
print(is_empty)

False

In [111]:
# q11
indices = [i for i, x in enumerate(t1) if x == 5]
print(indices)

[4, 10]

In [112]:
# q12
second_largest = sorted(set(t1))[-2] if len(set(t1)) > 1 else None
print(second_largest)

7

In [113]:
# q13
second_smallest = sorted(set(t1))[1] if len(set(t1)) > 1 else None
print(second_smallest)

2

In [114]:
# q14
single_element_tuple = (5,)
print(single_element_tuple)

(5,)

In [115]:
# q15
tuple_from_list = tuple(a1)
print(tuple_from_list)

(1, 2, 3, 11, 5, 2.0, 5, 6, 7, 8, 5, 3, 2, 3, 4, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3)

In [116]:
# q16
is_sorted = t1 == tuple(sorted(t1))
print(is_sorted)

False

In [117]:
# q17
subtuple_max = max(t1[2:5])
print(subtuple_max)

5

In [118]:
# q18
subtuple_min = min(t1[2:5])
print(subtuple_min)

3

In [119]:
# q19
new_tuple = tuple(x for x in t1 if x != 5)
print(new_tuple)

(1, 2, 3, 4, 6, 6, 7, 11, 7)

In [120]:
# q20
nested_tuple = tuple(t1[i:i+2] for i in range(0, len(t1), 2))
print(nested_tuple)

((1, 2), (3, 4), (5, 6), (6, 7), (11, 7), (5,))

In [121]:
# q21
repeated_tuple = tuple(x for x in t1 for _ in range(3))
print(repeated_tuple)

(1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 11, 11, 11, 7, 7, 7, 5, 5, 5)

In [122]:
# q22
range_tuple = tuple(range(1, 11))
print(range_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [123]:
# q23
reversed_tuple = t1[::-1]
print(reversed_tuple)

(5, 7, 11, 7, 6, 6, 5, 4, 3, 2, 1)

In [124]:
# q24
is_palindrome = t1 == t1[::-1]
print(is_palindrome)

False

In [125]:
# q25
unique_tuple = tuple(dict.fromkeys(t1))
print(unique_tuple)

(1, 2, 3, 4, 5, 6, 7, 11)

### **Set tasks**

In [126]:
#q1
set1 = {1, 2, 4}
set2 = {2, 4, 6}
union_set = set1 | set2
print(union_set)

{1, 2, 4, 6}

In [ ]:
#q2
intersection_set = set1 & set2
print(intersection_set)

{2, 4}

In [ ]:
#q3
difference_set = set1 - set2
print(difference_set)

{1}

In [ ]:
#q4
is_subset = set1.issubset(set2)
print(is_subset)

False

In [ ]:
#q5
element_exists = 4 in set1
print(element_exists)

True

In [ ]:
#q6
set_length = len(set1)
print(set_length)

3

In [133]:
#q7
unique_set = set([1,2,3,4,5,6])
print(unique_set)

{1, 2, 3, 4, 5, 6}

In [134]:
#q8
set1.discard(1)
print(set1)

{2, 4}

In [135]:
#q9
empty_set = set1.clear()
print(empty_set)

None

In [136]:
#q10
is_empty = len(set1) == 0
print(is_empty)

True

In [137]:
#q11
sym_diff_set = set1 ^ set2
print(sym_diff_set)

{2, 4, 6}

In [139]:
#q12
set1.add(8)
print(set1)

{8}

In [140]:
#13
popped_element = set1.pop()
print(popped_element)

8

In [145]:
#q14
max_value = max(set2)
print(max_value)

6

In [ ]:
#q15
min_value = min(set2)
print(min_value)

2

In [ ]:
#q16
even_numbers = {x for x in set1 if x % 2 == 0}
print(even_numbers)

set()

In [ ]:
#q17
odd_numbers = {x for x in set1 if x % 2 != 0}
print(odd_numbers)

set()

In [ ]:
#q18
range_set = set(range(1, 11))
print(range_set)

In [ ]:
#19
merged_set = set([1,2,3]) | set([3,2,1,5])
print(merged_set)

{1, 2, 3, 5}

In [ ]:
#20
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

True

In [ ]:
#q21
unique_list = list(set([33,4,5,6]))
print(unique_list)

[33, 4, 5, 6]

In [ ]:
#q22
unique_count = len(set([5,6,7]))
print(unique_count)

3

In [ ]:
#q23
import random
random_set = {random.randint(1, 100) for _ in range(10)}
print(random_set)

{38, 8, 11, 50, 85, 89, 90, 60}

### **Dictionary tasks**

In [1]:
#q1
my_dict = {
    "A" : "Olma",
    "G" : "Uzum",
    "P" : "Anor"
}
value = my_dict.get("A")
print(value)

Olma

In [2]:
#q2
key_exists = "F" in my_dict
print(key_exists)

False

In [3]:
#q3
key_count = len(my_dict)
print(key_count)

3

In [4]:
#q4
keys_list = list(my_dict.keys())
print(keys_list)

['A', 'G', 'P']

In [5]:
#q5
values_list = list(my_dict.values())
print(values_list)

['Olma', 'Uzum', 'Anor']

In [6]:
#q6
my_dict_1 = {
    "C" : "Bodring",
    "A" : "Avacado",
    "O" : "Apelsin"
}
merged_dict = {**my_dict, **my_dict_1}
print(merged_dict)

{'A': 'Avacado', 'G': 'Uzum', 'P': 'Anor', 'C': 'Bodring', 'O': 'Apelsin'}

In [7]:
#q7
my_dict.pop("A", None)
print(my_dict)

{'G': 'Uzum', 'P': 'Anor'}

In [8]:
#q8
empty_dict = {}
print(empty_dict)

{}

In [9]:
#q9
is_dict_empty = len(my_dict) == 0
print(is_dict_empty)

False

In [10]:
#q10
key_value_pair = my_dict.get("A", None)
print(key_value_pair)

None

In [11]:
#q11
my_dict["B"] = "Banan"
print(my_dict)

{'G': 'Uzum', 'P': 'Anor', 'B': 'Banan'}

In [13]:
#q12
value_count = list(my_dict.values()).count("Banan")
print(value_count)

1

In [14]:
#q13
inverted_dict = {v: k for k, v in my_dict.items()}
print(inverted_dict)

{'Uzum': 'G', 'Anor': 'P', 'Banan': 'B'}

In [15]:
#q14
keys_with_value = [k for k, v in my_dict.items() if v == "Banan"]
print(keys_with_value)

['B']

In [16]:
#q15
dict_from_lists = dict(zip(keys_list, values_list))
print(dict_from_lists)

{'A': 'Olma', 'G': 'Uzum', 'P': 'Anor'}

In [17]:
#q16
has_nested = any(isinstance(v, dict) for v in my_dict.values())
print(has_nested)

False

In [24]:
#17
nested_value = {
    "car_company" : {"BWM" : "X7"}
}
print(nested_value.get("car_company").get("BWM"))

X7

In [25]:
#q18
from collections import defaultdict
default_dict = defaultdict(lambda: 'default_value')
print(default_dict)

defaultdict(<function <lambda> at 0x00000162AEB47880>, {})

In [26]:
#q19
unique_values_count = len(set(my_dict.values()))
print(unique_values_count)

3

In [27]:
#q20
sorted_by_key = dict(sorted(my_dict.items()))
print(sorted_by_key)

{'B': 'Banan', 'G': 'Uzum', 'P': 'Anor'}

In [35]:
#q21
sorted_by_value = {v: k for k, v in sorted(my_dict.items())}
print(sorted_by_value)

{'Banan': 'B', 'Uzum': 'G', 'Anor': 'P'}

In [36]:
#q22
my_dict_2 = {
    "BMW" : 1,
    "MERS" : 2
}
filtered_dict = {k: v for k, v in my_dict_2.items() if v > 1}
print(filtered_dict)

{'MERS': 2}

In [38]:
#q23
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5, 'e': 6}

common_keys = set(dict1.keys()) & set(dict2.keys())

print(common_keys)

{'b'}

In [39]:
#q24
tuple_data = (('name', 'Dovud'), ('color', "blue"), ('city', 'Tashkent'))
dict_from_tuple = dict(tuple_data)
print(dict_from_tuple)

{'name': 'Dovud', 'color': 'blue', 'city': 'Tashkent'}

In [40]:
#q25
first_pair = next(iter(my_dict.items()), None)
print(first_pair)

('G', 'Uzum')